<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="userName"><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>

        <p th:text="${message}"/><br>
        <input type="submit" name="login" value="Login">
    </form>
</body>
</html>